body {
    font-family: "roboto";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    margin:0;
}

.main {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    padding:10px;
}

.header {
    
    display: flex;
    justify-content: space-around;
    color:#F9FAF8;
}

.header-links {
    display:flex;
    gap: 30px;
    color:#E5E7EB;
}

.main-title {
    
    display:flex;
    margin:50px 100px 50px 100px;
    gap: 15px;
}

.main-title-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap:10px;
    color:#E5E7EB;
}

h1 {
    font-weight: bolder;
    font-size: 38px;
    color:#F9FAF8;
}

button {
    background-color: #3882F6;
}

.main-title img {
    min-width: 400px;
    min-height: 200px;

    max-width: 400px;
    max-height: 200px;
}

button {
    max-width: 80px;
    max-height: 40px;
    border-radius: 5px;
    color: #F9FAF8;
    border: #3882F6;
}

.click-bait button {
    border: 1px solid #F9FAF8;
}

.random-info {
    color: #1F2937;
    font-weight: bolder;
    font-size: 28px;
}

.middle {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:20px;
}

.random-info {
    display: flex;
    justify-content: center;
}

.content {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-align: center;
}

.info {
    max-width: 150px;
}

.content img{
    max-width: 110px;
    max-height: 110px;
    border:3px solid #3882F6;
    border-radius: 15px;
}

.quote {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size:26px;
    padding:40px 200px;
    background-color: #E5E7EB;
    font-style: italic;
    font-weight: lighter;
}

p {
    text-align: end;
}

.click-bait {
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    margin:30px 150px;
    padding: 30px;
    background-color: #3882F6;
    border-radius: 10px;
    gap: 40px;
} 

.footer{
    margin:auto 0;
    text-align: center;
    background-color: #1F2937;
    padding: 15px;
    color: #E5E7EB;
}

